.productModal{
    position: fixed;
    z-index: 5;
    bottom: 4vw;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    z-index: 1111;
    border-radius: 15px;
  
}

.productModal1{
    max-height: 80vh;
    overflow-y: auto;
}

.productModal1::-webkit-scrollbar {
    
  background: red;
    border-radius: 10px;
    width: 6px;
    
} 

.productModal1 {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.ProductModalContainer{
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: hsla(0,0%,5%,.5);
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.sizeDiv{
    font-size: calc(16px + .3vw);
    margin-bottom: 10px;
    font-weight: 600;
    color: #515151;
    line-height: 3vw;
}
.topDiv{
    margin-right: 1rem!important;
    font-size: calc(12px + .3vw);
    font-weight: 600;
}
.optDiv{
    color: #df052a;
    font-size: calc(8px + .3vw);
}
.labelDiv{
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}
.ceckedDiv{
    display: flex!important;
    align-items: center!important;
}
.ceckedDiv>input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: initial;
    cursor: default;
    appearance: auto;
 
}
.ceckedDiv>label{
    cursor: pointer;
    font-weight: 400;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
   
}
.ceckedDiv>label>div{
    line-height: 5vw;
    width: 100%!important;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;

    display: flex!important;
    justify-content: space-between!important;
    
}
.abelDiv{
    padding: 10px 0;
}
.modalImgDiv{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
    overflow: hidden;
   
   
}
.classicDiv{
  display: flex;
}

.classicDiv1{
    padding: 5px 15px;
    border-radius: 6px;
    margin: 0 10px 10px 0;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #9d9d9d;
    font-size: calc(6px + .3vw);
    

  
}
.active{
    background-color: #E33B41;
    color: white;
}
.active1{
    background-color: white;
    
    color: #9d9d9d;
}
.modalImgDiv>img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.modalAddSpecial {
    font-size: calc(12px + .3vw);
    margin-top: 1rem;
    font-weight: 600;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
}
textarea{
  
 outline: none;
    padding: 15px;
    resize: none;
    background: transparent;
    overflow: auto;
    resize: vertical;
    border-radius: 12px;
    font-size: calc(10px + .3vw);
    border: 1px solid #9d9d9d;
}
.priceDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.decrementDiv{
    width: 6rem;
    border-radius: 10px;
    padding-right: 10px;
    right: -10px;
    z-index: 0;
    position: relative;
    background: transparent;
    border: 1px solid #9d9d9d;
    font-size: calc(16px + .3vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    height: 30px;
    top: 2px;
 
   
}
.informDiv{
    font-family: inherit;
    font-size: calc(11px + .3vw);
    color: #9d9d9d;
}
.but{
   
    border-radius: 8px;
    z-index: 1;
    justify-content: center;
    background: #E33B41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 109px;
    height: 34px;
    padding: 14px 29px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    color: #fff;
 
}
.but>img{
    width: 20px;
}
.customDiv{
    width: 76vw;
    padding-right: 1vw;
}
.customDivP{
    margin-bottom: 1.5rem!important;

    margin-top: 1rem!important;
}
.customDivP>.p1{
    font-size: calc(18px + .3vw);
    font-weight: 600;
}
.customDivP>.p2{
    color: #9d9d9d;
    font-size: calc(12px + .3vw);
}
.prDiv{
    display:flex; 
    flex-direction: column;
    margin-left: 1rem;
    width: 46vw;
    padding: 0 1vw;
    max-height: 80vh;
    
}

 
.catalogContainer{
    align-items: stretch;
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
    position: relative;
    left: 0;
    z-index: 2;
    transition: left .3s;
    margin-top: 30px;
    
}
.carouselArrow{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
   
    cursor: pointer;
    border: 1px solid #ebebeb;
}
.carouselArrow1{
    display: flex;
    justify-content: flex-end;
}
.carouselArrow>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: 1px solid #ebebeb;
}
.carouselArrow>div>svg{
    width: 30%;
    stroke: #9d9d9d;
    fill: none;
   
}
.closeDiv{
    z-index: 1;
}
.butClose{
    
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 40px;
    z-index: 22222;
  
    
    border-radius: 50%;
    border: 1px solid rgb(157, 157, 157);
}
.butClose>img{
    width: 10px;
}
.divButClose{
    display: flex;
    justify-content: flex-end;
    height: 0px;
}
.catalogContainerChald{
  
    width: 23vw;
    min-width: 23vw;
    margin-right: 3vw;
    position: relative;
    overflow: hidden;
    margin-bottom: calc(3vw + 22px);
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    
   
}
.catImg{
    transition: all .3s linear;
    padding: 26px 10px 27px 10px;
}
.catImg:hover{
    transform: scale(1.1);  
}


.catalogContainerChald>div>img{
    width: 100%;
    object-fit: scale-down!important;
    
}
.catalogContainerChald>div{
   
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 hsl(0deg 0% 54% / 40%);
}
.catalogContainerChald>p{
    text-align: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.buttonDiv>button{
    
  width: 46%;
    border-radius: 0;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    background-color: #E33B41;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
}
.buttonDiv>button:hover{
    opacity: 0.9;
}
.buttonDiv>button>img{
 width: 18px;
 height: 18px;
}
.buttonDiv>div{
   
    width: 46%;
    background: #3d3d3d;
    color: #fff;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
}

.x{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.1rem;
    margin-bottom: 15px;
}


  .pName{
    font-size: calc(16px + .3vw);
    font-weight: 700;
    margin-top: 0px;
  }


  .costomDiv{
    padding-right: 1vw;
}
.customDivP{
    margin-bottom: 1.5rem!important;

    margin-top: 10rem!important;
}
.customDivP>.p1{
    font-size: calc(16px + .3vw);
    font-weight: 600;
}
.customDivP>.p2{
    color: #9d9d9d;
    font-size: calc(12px + .3vw);
}
.prDiv{
    display:flex; 
    flex-direction: column;
    margin-left: 1rem;
    width: 46vw;
    padding: 0 1vw;
    max-height: 80vh;

}
.catalogContainer{
    align-items: stretch;
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
    position: relative;
    left: 0;
    z-index: 2;
    transition: left .3s;
    margin-top: 30px;

}
.butClose{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 40px;
    z-index: 22222;
  
    
    border-radius: 50%;
    border: 1px solid rgb(157, 157, 157);
}
.butClose>img{
    width: 10px;
}
.divButClose{
    display: flex;
    justify-content: flex-end;
    height: 0px;
}
.catalogContainerChald{
   
    width: 23vw;
    min-width: 23vw;
    margin-right: 3vw;
    position: relative;
    overflow: hidden;
    margin-bottom: calc(3vw + 22px);
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    
   
}
.catImg{
    transition: all .3s linear;
    padding: 26px 10px 27px 10px;
}
.catImg:hover{
    transform: scale(1.1);  
}


.catalogContainerChald>div>img{
    width: 100%;
    object-fit: scale-down!important;
    height: 250px;
    
}

.catalogContainerChald>p{
    text-align: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.buttonDiv>button:hover{
    opacity: 0.9;
}
.buttonDiv>button>img{
 width: 18px;
 height: 18px;
}

.productPizzaModalLi{
    display:flex;
    
font-size: 14px;
}
.modalFooter{
    display: none;
}
.divButArrowClose{
    display: none;
}
.divShare{
    margin-right: 30px;
}
.toppingsDiv{
    display: flex;
}
.classicDiv2{
    padding: 5px 15px;
    border-radius: 6px;
    margin: 0 10px 10px 0;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    font-size: calc(6px + .3vw);
    background-color: #E33B41;
    color: white;

}
.headerContainer{
    
    position: fixed;
    font-size: calc(16px + .3vw);
    line-height: 1.2;
    font-weight: 600;
    left: 0;
    right: 0;
    top: 0;
    z-index: 6;
    height: 70px;
    padding: 1px 4vw;
    background: #fff;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.headerContainerColor{

    position: fixed;
    font-size: calc(16px + .3vw);
    line-height: 1.2;
    font-weight: 600;
    left: 0;
    right: 0;
    top: 0;
    z-index: 6;
    height: 80px;
    padding: 1px 4vw;
    background: #fff;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e!important;
  }

@media only screen and (max-width: 768px){

    .productPizzaModalLi {
   display: flex;
   flex-direction: column;
}
.modalImgDiv{
    position: relative;
    width: 100%;
    height: 80vw;
    border-radius: 15px;
    overflow: hidden;
}
.productModal{
    bottom: 6vw;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;

}
.butClose{
    display: none;
}
.productModal1::-webkit-scrollbar {
    
    background: white;
      overflow-y: scroll;
      width: 10px;
      border-radius: 2px;
     
  } 
  .labelDiv{
    width: 84vw;
  }
  .modalAddSpecial{
    width: 84vw;

  }

  .customDivP{
    margin-top: 3rem!important;
  }
  .catalogContainerChald{
    width: 44vw;
    min-width: 44vw;
    margin-right: 4vw;
  }
  .catalogContainerChald>div{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    box-shadow: 0 2px 2px 0 hsl(0deg 0% 54% / 40%);
   
  }
  
.buttonDiv>div{
    width: 21vw;
    background: white;
  
    color: rgb(117, 116, 116);
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
   
    justify-content: flex-start;

   
    font-size: calc(14px + .3vw);
    line-height: 1;
    
 
}
.buttonDiv>button{
    width: 50% !important;
    border-radius: 20px;
    padding: 7px;
    color: white;
    font-size: calc(10px + .3vw);
}
.modalFooter{
    line-height: 1.2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px -2px 4px #cbc8c8;
    position: fixed;
    padding: 7px 15px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #fff;
}
.modalTotalDiv{
    font-size: calc(12px + .3vw);
    color: #9d9d9d;
}
.modalTotalDiv1{
    display: flex;
    align-items: flex-end;
    font-size: calc(16px + .3vw);
    font-weight: 700;
}
.modalTotalDiv1>span{
    font-size: 11.5px;
}
.modalFooter1{
    font-size: calc(16px + .3vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    height: 34px;
    color: #E33B41;
    background: #e8f0fa;
}
.modalFooter1Span{
    width: 34px;
    height: 34px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #E33B41;
    color: #fff;
    cursor: pointer;
}
.modalFooter1Span1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 34px;
    text-align: center;
    border: none;
    background: transparent;
    color: #E33B41 ;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.modalFooter2{
    background: #E33B41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 77px;
    height: 28px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 12px;
    color: #fff;
    font-size: 13.5px;
}

.modalFooter2>img{
    width: 17px;
}
.divButArrowClose{
    display: block;
}
.divButArrowClose1{
    
    position: sticky;
    z-index: 5;
    width: calc(100% - 20px);
    top: 10px;
    margin: auto;
    display: flex!important;
    justify-content: space-between;
}
.modalArrowDiv{
    width: 37px;
    height: 37px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);

}
.modalArrowDiv>img{
    width: 40%;
    height: 40%;
}
.priceDivDiv{
    display: none;
}
.divShare{
    display: none;
}
.toppingsDiv{
    display: flex;
    justify-content: space-between;
    width: 82.5vw;
}
.optDiv{
    color: #df052a;
    font-size: calc(12px + .3vw);
}
.classicDiv{
    width: 84vw;
  
}
.classicDiv1{

    font-size: calc(10px + .3vw);
    color: #E33B41;
}
}